<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203068805746-iart8uo6dmuhtju5ghjjr04qbr842stf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203068805746-iart8uo6dmuhtju5ghjjr04qbr842stf</string>
	<key>API_KEY</key>
	<string>AIzaSyDQA3o9aScpnHfeb4pTZGupSDA85rV773I</string>
	<key>GCM_SENDER_ID</key>
	<string>203068805746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucasudar.loginPageFirebaseFlutter</string>
	<key>PROJECT_ID</key>
	<string>loginpagefirebaseflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpagefirebaseflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203068805746:ios:aead39c9933fc9c8eda8eb</string>
</dict>
</plist>